/*TypeFaces*/
/*==========================================================================================*/

@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

/*==========================================================================================*/
/*This is the basic foundation code for my portfolio website.....*/

/*This selects the entire html page and fits in the background image*/
/*==========================================================================================*/
html { 
  background: url(../img/1156_Option_1.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*==========================================================================================*/

/*Hover States*/
/*==========================================================================================*/

/*This is the link look state*/
a:link {
    color: gray;
    text-decoration: none;
}

/*This is the already clicked on state*/
a:visited {
    color: dimgray;
    opacity: 0.5;
}

/*This is the presently selected state*/
a:focus {
    
} 

/*This controls the mouse coursor hover state*/
a:hover {
    color: white;
    transition: color 1s;
}

/*This controls the click and hold look*/
a:active {
    
}

    
/*==========================================================================================*/


/*CSS elements*/
/*==========================================================================================*/

h1 {
    color: white;
}

/*This is where I want to have a hover state link straight to portfolio page*/


h1 {
    position: fixed;
    right: 800px;
    top: 25px;
    }

/*.boxes {
color: white
} */



/*==========================================================================================*/    
/*Here are the positions for my menu links...*/
/*==========================================================================================*/

    
#portfolio-home {
    font-family: 'Julius Sans One', sans-serif, "inherit";
    position: fixed;
    top: 300px;
    left: 75px;
    font-size: 25pt;
}

#resume-home {
    font-family: 'Julius Sans One', sans-serif, "inherit";
    position: fixed;
    top: 350px;
    left: 75px;
    font-size: 25pt;
}

#bio-home {
    font-family: 'Julius Sans One', sans-serif, "inherit";
    position: fixed;
    top: 400px;
    left: 75px;
    font-size: 25pt;
}

#contact-home {
    font-family: 'Julius Sans One', sans-serif, "inherit";
    position: fixed;
    top: 450px;
    left: 75px;
    font-size: 25pt;
    
}

/*This is a test of the animations*/
/*==========================================================================================*/

/*

 #footer {
    position: fixed;
    height: 250px;
    widows: 1000px;
    background-color: gray;
    bottom: 0px;
    
}

*/









/*==========================================================================================*/
/*
@keyframes example {
    0% {background-color: red;}
    25% {background-color: yellow;}
    50% {background-color: blue;}
    100% {background-color: green;}
    
}
*/

/*So in order to attatch an animation to an element you must add the animation-name line to the css code.*/

/*
.Box2 {
    
    position: fixed;
    bottom: 200px;
    right: 500px;
    width: 500px;
    height: 250px;
    background-color: white;
    animation-name: example;
    animation-duration: 60s;
}

*/



/*==========================================================================================*/

/*Contact Page*/

/*==========================================================================================*/

#main {
    
    position: fixed;
    font-family: 'Julius Sans One', sans-serif, "inherit";
    left: 50px;
    top: 15px;
    font-size: 4em;
    
}

p {
    
    position: fixed;
    font-family: ;
    left: 50px;
    top: 150px;
    padding: 0px;
    background-color: dimgray;
    
}

/*==========================================================================================*/

/*Resume Page*/

/*==========================================================================================*/

#resume {
    
    position: fixed;
    font-family: 'Julius Sans One', sans-serif, "inherit";
    left: 50px;
    top: 15px;
    font-size: 4em;
    
}

/*==========================================================================================*/

/*Bio Page*/

/*==========================================================================================*/

#bio {
    
    position: fixed;
    font-family: 'Julius Sans One', sans-serif, "inherit";
    left: 50px;
    top: 15px;
    font-size: 4em;
    
}

/*==========================================================================================*/

/*Portfolio Page*/

/*==========================================================================================*/

#main {
    
    position: fixed;
    font-family: 'Julius Sans One', sans-serif, "inherit";
    left: 50px;
    top: 15px;
    font-size: 4em;
    
}

/*==========================================================================================*/



